<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!--配置关闭缓存-->
        <setting name="cacheEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--事物超时时间-->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>

    <typeAliases>
        <!--<package name="com.wangchao.house.common.model"/>-->
        <typeAlias type="com.wangchao.house.common.model.User" alias="user"/>
        <typeAlias type="com.wangchao.house.common.model.House" alias="house"/>
        <typeAlias type="com.wangchao.house.common.model.Community" alias="community"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/HouseMapper.xml"/>
        <!--<package name="/mapper/*"/>-->
    </mappers>
</configuration>
